.best {
	background: url("../img/background/back_2.jpg") center center no-repeat;
	background-size: cover;
	position: relative;
	text-align: center;
}

.best .container {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

.section__title-black {
	color: $black;
}

.best .section__title {
	margin-bottom: 80px;
}

.best__title {
	font-family: 'lifehackmedium';
	font-weight: 500;
	font-size: 24px;
	margin-top: 10px;
}

.best__list {
	font-size: 0;
}

.best__text {
	font-family: 'ubuntu';
	font-weight: 300;
	font-size: 14px;
	margin-top: 20px;
}

.best__item {
	display: inline-block;
	vertical-align: top;
	width: 33.3%;
}

.best__icon {
	width: 100px;
	height: 100px;
	position: relative;
	display: inline-block;
}

.best__icon-pic {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}